/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/*--.reply-panel--*/
.reply-panel {
  padding: 1.5em;
  margin: auto
}
.reply-panel p {
  font-size: 1em;
  color: #555;
  line-height: 1.8em;
}
/*--//.reply-panel--*/

/*--.input-reply-panel--*/
.input-reply-panel {
  padding: 1.5em;
  margin: auto
}

.input-reply-panel > .input-reply-area {
  width: 100%;
  height: 12.0em;
  resize: none;
}

.input-reply-panel > .sub-reply {
  margin-left: 95%;
}
/*--//.input-reply-panel--*/
