
/*---footer---*/
.footer {
  background: #fff;
  padding: 1em;
  width: 100%;
  text-align:center;
box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
-webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
-moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
-ms-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
-o-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
}
.footer  p {
color: #7A7676;
  font-size: 1em;
line-height: 1.6em;
}
.footer  p a{
  color: #337ab7;
  font-weight: 600;
}
.footer  p a:hover{
text-decoration:underline;
}
/*---//footer---*/

/*--role-select-page--*/
.role-select-page {
    width: 30%;
    margin: 1em auto 0;
}
.role-body {
	padding: 2em 0;
}
.role-select-page .role-button {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #F2B33F;
    width: 50%;
    padding: .6em 1em;
    font-size: 1em;
    margin: 1.2em auto 0;
    display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.login-page .role-button:hover{
    background: #337ab7;
}
/*--//role-select-page--*/

/*--login-page--*/
.login-page {
    width: 40%;
    margin: 1em auto 0;
}
.login-top {
    padding: 1.5em;
    border-bottom: 1px solid #DED9D9;
    text-align: center;
}
.login-body {
	padding: 4em 2em;
}
.login-top  h4 {
    font-size: 1.1em;
    color: #555;
    line-height: 1.8em;
}
.login-top  h4  a {
    color: #e94e02;
}
.login-top  h4  a:hover{
    color: #555;
}
.login-page input[type="email"], .login-page input[type="password"] {
    font-size: 1em;
    padding: 14px 15px 14px 37px;
    width: 100%;
    color: #A8A8A8;
    outline: none;
    border: 1px solid #D3D3D3;
    background: #FFFFFF;
    margin: 0em 0em 1.5em 0em;
}
.login-page input.user {
    background: url(../images/user.png)no-repeat 8px 16px #fff;
}
.login-page input.lock {
    background: url(../images/lock.png)no-repeat 8px 16px #fff;
}
.login-page label.checkbox {
    margin: 0 0 0 1.3em;
    font-size: 1em;
    color: #555;
    font-weight: 400;
    display: inline-block;
    float: left;
}
.login-page label.checkbox {
    margin-left: 1.3em;
}
.login-page label.checkbox {
    margin-left: 1.3em;
    font-size: 1em;
    color: #555;
    font-weight: 400;
    display: inline-block;
	cursor: pointer;
}
.forgot-grid {
    margin-bottom: 1.2em;
}
.forgot {
    float: right;
}
.forgot a {
    font-size: 1em;
    color: #555;
    display:block;
}
.forgot a:hover{
    color: #f2b33f;
}
.login-page input[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #F2B33F;
    width: 40%;
    padding: .6em 1em;
    font-size: 1em;
    margin: 0.5em auto 0;
    display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.login-page input[type="submit"]:hover{
    background: #337ab7;
}
.login-page-bottom {
    text-align: center;
}
.social-btn {
    display: inline-block;
    background: #3B5998;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
.registration {
    text-align: center;
    margin-top: 1em;
    font-size: 16px;
}
.registration a {
    color: #337ab7;
}

.registration a:hover{
    color: #f2b33f;
}
.social-btn i {
    color: #fff;
    padding: .8em 1.3em;
    font-size: 0.9em;
	vertical-align: middle;
}
.social-btn i.fa {
    background-color: #354F88;
    padding: .6em 1em;
    font-size: 1.1em;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
}
.social-btn:hover {
	background:#354F88;
}
.social-btn.sb-two {
    background-color: #45B0E3;
	margin-left: 2em;
}
.social-btn i.fa.fa-twitter {
    background-color: #40A2D1;
}
.social-btn.sb-two:hover{
    background-color: #40A2D1;
}
.login-page-bottom h5 {
    font-size: 1.5em;
    color: #524C4F;
    font-weight: 800;
    margin: 1em 0;
}
.social-btn:hover i.fa {
    transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
}
/*--//login-page--*/

/*--signup-page--*/
.signup-page {
    width: 40%;
    margin: 1em auto 0;
}
.signup-page h3.title1 {
	text-align: center;
}
p.creating {
    text-align: center;
}
.sign-up-row {
    padding: 2em;
}
.sign-up1{
	float:left;
    width: 25%;
}
.sign-up1 h4 {
    color: #555;
    margin: 1em 0 1em;
    font-size: 1em;
}
.sign-up2 {
    width: 70%;
    float: left;
    margin-top: 1em;
}
.signup-page input[type="text"],.signup-page input[type="email"],.signup-page input[type="password"]{
	outline:none;
	border: 1px solid #D0D0D0;
    background: none;
    font-size: 15px;
    padding: 14px 15px 14px 37px;
	width:100%;
    margin: 0em 0 1.5em 0;
}
.signup-page input[type="email"]{
    background: url(../images/mail.png)no-repeat 8px 16px #fff;
	background-size: 20px;
}
.signup-page input[type="text"] {
    background: url(../images/user.png)no-repeat 8px 16px #fff;
}
.signup-page input[type="password"] {
    background: url(../images/lock.png)no-repeat 8px 16px #fff;
}
.signup-page input[type="text"]:focus ,.signup-page input[type="email"]:focus,.signup-page input[type="password"]:focus,.login-page input[type="email"]:focus,.login-page input[type="password"]:focus{
    border-color: #337ab7;
}
.signup-page h5,.signup-page h6{
	margin: 0 0 1em;
    color: #629aa9;
    font-size: 1.1em;
}
.signup-page h6{
	margin:1em 0 !important;
}
.sub-login-left{
	float:left;
	width:30%;
}
.sub-login-right{
	float:right;
}
.sub-login{
	margin:5em 0 0;
}
.signup-page p{
    font-size: 1em;
    color: #555;
}
.sub-login-right p a {
    color: #a88add;
    padding-left: 8px;
}
.sub-login-right p a:hover{
	color:#fff;
}
.sub_home  input[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #f2b33f;
    width: 25%;
    padding: .6em 1em;
    font-size: 1em;
    margin: 0.5em auto 0em;
    display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.sub_home input[type="submit"]:hover {
    background-color: #337ab7;
}
.signup-page .radios {
    margin-top: 1.5em;
}
.signup-page label.label_radio {
    margin-right: 2em;
    color: #7D7878;
    font-size: 1em;
}
/*--//signup-page--*/


.role-select-page h2.title1,.login-page h2.title1,.signup-page h2.title1{
    text-align: center;
    padding: 1em;
    background: #629aa9;
    border-bottom: 10px solid #4b7884;
    margin: 0;
	color: #fff;
    font-size: 1.6em;
}

.widget-shadow {
  background-color: #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
-webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
-moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}