
.marking{
    width: 300px;
    height: 150px;
    text-align: center;
    line-height: 75px;
}

.marking-item{

}

.row1{
    display: inline-block;
    margin: 100px 100px 100px 100px;
}
.row2{
    display: inline-block;
    margin: 100px 100px 100px 100px;
}